* {
    box-sizing: border-box;
}

body {
    background-color: #FDF9F3;
    font-family: 'Inter';
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .logo {
    align-items: center;
    display: flex;
    padding: 32px;
}

.logoText {
    font-size: 30px;
    color: #1E3B57;
    font-weight: 600;
}

.logo img {
    width: 40px;
    height: 40px;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 12px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.01);
}

.myPets {
    margin-right: 32px;
    cursor: default;
}

.btnOutline {
    background-color: white;
    color: #EE7D3C;
    border: 3px solid #EE7D3C;
}

.btnPrimary {
    background-color: #EE7D3C;
    color: white;
    border: none;
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 58px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar {
    margin: 32px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    width: 276px;
    align-items: center;
}

.sidebarTitle {
    font-size: 20px;
    color: #1E3B57;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

.petAvatar {
    margin-top: 20px;
    border: 7px solid white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 186px;
    height: 186px;
    border-radius: 32px;
}

.petList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.petItem {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
}

.petItem:last-child {
    border-bottom: none;
}

.petItem img {
    width: 55px;
    height: 55px;
    border-radius: 15px;
}

.sidebar .addPet {
    margin-top: 100%;
    margin-bottom: 25px;
}

.briefPetInfo {
    margin-left: 10px;
}

.petName {
    font-size: 18px;
    color: #1E3B57;
    font-weight: 600;
    padding-bottom: 5px;
}

.petBreed {
    opacity: 55%;
    font-weight: 600;
}

.mainContent {
    margin-top: 50px;
    margin-bottom: 56px;
}

.petTitle h1 {
    font-size: 48px;
    color: #1E3B57;
    font-weight: 600;
    margin-bottom: 10px;
}

.breed {
    opacity: 55%;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
}

.fullPetInfo {
    background-color: #F0ECE6;
    width: 428px;
    border-radius: 16px;
}

.fullPetInfo h3 {
    padding: 14px 16px;
    color: #1E3B57;
    font-weight: 600;
}

.info {
    padding: 0px 16px;
    opacity: 55%;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 14px;
    line-height: 145%;
}

.navigationsBtn {
    margin-top: 38px;
    display: flex;
    gap: 38px;
}

.personalDiaryAndImages {
    margin-top: 20px;
    display: flex;
    gap: 200px;
}

.doctorVisitHistory {
    margin-top: 20px;
    display: flex;
}

#visitToggle:checked~.content .personalDiaryAndImages {
    display: none;
}

#visitToggle:checked~.content .doctorVisitHistory {
    display: block;
}

#diaryToggle:checked~.content .personalDiaryAndImages {
    display: flex;
}

#diaryToggle:checked~.content .doctorVisitHistory {
    display: none;
}

.addNote::first-letter {
    color: #EE7D3C;
}

.addNote {
    color: #1E3B57;
    font-weight: 600;
    cursor: pointer;
}

.addVisit {
    color: #1E3B57;
    font-weight: 600;
    cursor: pointer;
}

.addVisit::first-letter {
    color: #EE7D3C;
}

.addImage::first-letter {
    color: #EE7D3C;
}

.addImage {
    color: #1E3B57;
    font-weight: 600;
    cursor: pointer;
}

.addPhoto {
    cursor: pointer;
}

.personalDiary {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.visitHistory {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.visit {
    width: 538px;
}

.note {
    width: 293px;
}

.card {
    background-color: #F0ECE6;
    line-height: 145%;
    padding: 10px 17px;
    border-radius: 16px;
}

.cardHeader {
    color: #EE7D3C;
    font-weight: 600;
    padding-bottom: 5px;
}

.cardText {
    opacity: 55%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    justify-content: start;
    margin-top: 20px;
    border-radius: 16px;
    width: 346px;
    height: 346px;
    background-color: #F0ECE6;
    justify-content: center;
    align-content: center;
}

.gallery img {
    width: 150px;
    height: 150px;
    border-radius: 12px;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
}


.modalBg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.modalContent {
    background: #FDF9F3;
    padding: 35px 25px;
    border-radius: 10px;
    position: relative;
}

.modalContent h2 {
    color: #1E3B57;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.modalClose {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
    margin-bottom: 10px;
    border:none;
    color: #999;
    cursor: pointer;
    background: none;
}

.modalForm {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.modalForm input,
textarea {
    padding: 6px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    resize: none;
}

.inputData {
    display: flex;
    gap: 17px;
    align-items: center;
    opacity: 55%;
    font-weight: 600;
}

.submitForm {
    margin-top: 20px;
    align-self: center;
}

.uploadPhoto img {
    padding: 5px;
    border-radius: 5px;
    border: 1px dashed rgba(0, 0, 0, 0.2);
}

.uploadPhoto {
    display: flex;
    gap: 10px;
    align-items: center;
}

.photoText {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.photoTitle {
    color: #1E3B57;
}

.photoHint {
    opacity: 40%;
    font-size: 14px;
}


.navigationsBtn button {
    background-color: white;
    font-size: 16px;
    color: #1E3B57;
    font-weight: 600;
    border: 3px solid rgba(0, 0, 0, 0.14);
    padding: 12px 16px;
    border-radius: 12px;
    cursor: pointer;
}

.navigationsBtn button.active {
    border: 3px solid #EE7D3C;
    color: #EE7D3C;
}

footer nav {
    padding: 32px;
    display: flex;
    justify-content: space-between;
}


footer .logo {
    align-items: center;
    display: flex;
}

.copyright {
    padding: 10px;
    opacity: 55%;
    font-weight: 600;
    align-self: center;
}

.socialNetworks {
    padding-top: 10px;
    display: flex;
    gap: 15px;
}

.socialNetworks img {
    width: 30px;
    height: 30px;
}

.fullGallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-auto-rows: 150px;
    gap: 10px;
    justify-content: center;
    max-width: 500px;
}


.fullGallery .fullImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.notificationAlert {
    position: fixed;
    top: 18%;
    right: 20px;
    width: 300px;
    background-color: #fff4f4;
    border-left: 5px solid #d9534f;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 15px;
    border-radius: 4px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: inherit;
}

.notificationContent h4 {
    margin: 0 0 5px 0;
    color: #d9534f;
}

.notificationContent p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.notificationClose {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #999;
    line-height: 1;
}